/*Körper*/
body {
    font-family: Roboto, Arial, sans-serif;
    font-weight: 100;
}
/*Kopfteil*/
header {
    display: flex;
    flex-direction: column;
    background-image: url(/images/Header1.jpg);
    background-size: cover; /* Damit das Bild den ganzen Bildschirm einnimmt */
    background-position: center; /* Damit das Bild zentriert ist */
    align-items: center; /* Damit die Elemente zentriert sind */
    
}
/*Überschrift, Version 1.0*/
h1{ 
    margin-top: 0px; /* Damit der Abstand zum oberen Rand 0 ist */
    font-family: Pacifico , Arial, sans-serif; /* Damit die Schriftart Pacifico verwendet wird */
    color: white;
    margin-bottom: 200px; /* Damit der Abstand zum unteren Rand 200px ist */
}
/*Navigation*/
nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(61, 61, 61, 0.275);
    -webkit-box-shadow: 8px 13px 23px 12px rgba(0,0,0,0.08); 
    box-shadow: 8px 13px 23px 12px rgba(0,0,0,0.08);
}
.center-links {
    display: flex;
    justify-content: center;
    flex-grow: 1; /* Damit die Elemente gleichmässig verteilt sind */
}
nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
    display: flex;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: white;
    transition: transform 0.2s ease; /* Damit die Elemente beim Hover etwas skaliert in einer gewissen Zeit*/
}
.nav-links:hover {
    transform: translateY(-5px); /* Damit die Elemente beim Hover 5px nach oben verschoben werden (Springen) */
}
/*Terminbutton, muss noch implementiert werden*/
#OnlineTermin 
/*ToDO: Button muss noch implementiert werden, muss in allen untermenüs vorhanden sein um jeder zeit einen Termin buchen zu können.!! */
{
    display: inline-block; /* Damit der Button nicht die ganze Breite einnimmt */
    padding: 5px 12px;  /* Innenabstand oben und unten 5px, links und rechts 12px */
    text-align: center; /* Damit der Text zentriert ist */
    border-radius: 18px; /* Damit der Button abgerundete Ecken hat */
    background: #4F483E;
    background: -moz-linear-gradient(left, #4F483E 0%, #918471 100%);
    background: -webkit-linear-gradient(left, #4F483E 0%, #918471 100%);
    background: linear-gradient(to right, #4F483E 0%, #918471 100%);
    transition: transform 0.2s ease; /* Damit der Button beim Hover etwas skaliert in einer gewissen Zeit*/
}
#OnlineTermin:hover{
    background-color: #B0A184;
    transform: scale(1.1);
}
/*Dropdown Menü*/
.dropdown {
    position: relative; /* Positioniert das Dropdown Menü */
}
.dropdown-menu li {
    margin: 10px 0; /* Verändert den oberen und unteren Rand */
    position: relative;
}
.dropdown-menu {
    width: 100%;
    display: block; /* Damit die Liste als Block dargestellt wird */
    position: absolute; /* Positioniert das Dropdown Menü */
    top: 24px; /* Damit das Dropdown Menü 24px vom oberen Rand entfernt ist */
    background-color: white;  /*Hintergrubdfarbe des Dropdown Menüs*/
    min-width: 160px; /* Damit das Dropdown Menü eine Mindestbreite von 160px hat */
    -webkit-box-shadow: 8px 13px 23px 12px rgba(0,0,0,0.08);
    box-shadow: 8px 13px 23px 12px rgba(0,0,0,0.08);
    padding: 12px 16px; /* Innenabstand oben und unten 12px, links und rechts 16px */
    z-index: 1; /* Damit das Dropdown Menü über den anderen Elementen ist */
    opacity: 0; /* Damit das Dropdown Menü nicht sichtbar ist */
    transform: translateY(10%); /* Positioniert das Menü außerhalb des sichtbaren Bereichs */
    transition: opacity 0.3s ease, transform 0.9s ease; /* Damit das Dropdown Menü beim Hover in einer gewissen Zeit sichtbar wird */
    pointer-events: none; /* Damit das Dropdown Menü nicht klickbar ist */  
}

.dropdown:hover .dropdown-menu {
    opacity: 1; /* Damit das Dropdown Menü sichtbar ist */
    transform: translateY(0); /* Bringt das Menü in den sichtbaren Bereich */
    pointer-events: auto; /* Damit das Dropdown Menü klickbar ist */
}
.dropD-links{
    transition: transform 0.2s ease; /* Damit die Elemente beim Hover etwas skaliert in einer gewissen Zeit*/
    color: black;
}
.dropD-links-submenupoint{
    color: black;
}
.dropD-links-submenupoint:hover{
    transform: translateX(5px);
}
.dropD-links-submenupoint::after{
        content: "›";
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-left: 40px; /* Abstand zum Text */
    }
.dropD-links:hover{
    transform: translateX(5px);
}
.dropdown-submenu {
    position: relative;
}
/*Dies ist das Dropdown Menü für die Unterseiten*/
.dropdown-menu-sub {
    display: block;
    visibility: hidden;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: white;
    min-width: 160px;
    box-shadow: 8px 13px 23px 12px rgba(0,0,0,0.08);
    padding: 12px 16px;
    z-index: 1;
    opacity: 0;
    transform: translateY(10%);
    transition: opacity 0.3s ease, transform 0.9s ease;
    pointer-events: none;
}

.dropdown-submenu:hover .dropdown-menu-sub {
    visibility: visible;
    display: block;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.dropD-links-sub {
    color: black;
    transition: transform 0.2s ease;
}

.dropD-links-sub:hover {
    transform: translateX(5px);
}
/*Dies dient dazu das die ganze breite des Dropdown Menüs genutzt wird*/
.dropD-links, .dropD-links-sub {
    color: black;
    transition: transform 0.2s ease;
    display: block; /* Hier haben wir display auf block gesetzt */
    width: 100%; /* Und hier haben wir die Breite auf 100% gesetzt */
}

/*Begrüssungstext und andere Textboxen*/
section {
    padding: 15px;
    margin-top: 30px;
    margin-left: auto; /* Damit der Abstand zum linken Rand 0 ist */
    margin-right: auto; /* Damit der Abstand zum rechten Rand 0 ist */
    max-width: 700px;
    border-radius: 16px;
    -webkit-box-shadow: 8px 13px 23px 12px rgba(0,0,0,0.08); 
    box-shadow: 8px 13px 23px 12px rgba(0,0,0,0.08);
}
/*Footer, Fussbereich*/
footer {
    
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
}
/*Icons im Footer Insta+Fb eventuel Whatsapp*/
.social-media-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-media-icons a {
    color: white;
    text-decoration: none;
}

.social-media-icons i {
    font-size: 24px;
}
@media screen and (max-width: 600px) {
    .social-media-icons {
        flex-direction: column;
    }
}
    


