<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="test.css">
    <title>Document</title>
</head>

<body>
    <header>
<nav class="navbar">
    <ul class="nav-menu">
        <li class="nav-item">
            <a href="/" class="nav-link close-menu">Home</a></li>
        <li class="nav-item dropdown">
            <a href="#" class="nav-link">Behandlungen</a>
             <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <div class="dropD-links-submenupoint">
                                <a class="dropD-links-sub " href="#Angebot3">Haarentfernung</a>
                                <span class="arrow">&#8250;</span>
                            </div>
                            <ul class="dropdown-menu-sub">
                                <li><a class="dropD-links-sub close-menu" href="#Unterangebot1">Faden</a></li>
                                <li><a class="dropD-links-sub close-menu" href="#Unterangebot2">Waxing</a></li>
                                <li><a class="dropD-links-sub close-menu" href="#Unterangebot3">SHR`s Daurhafte Haarentfernung</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <div class="dropD-links-submenupoint">
                                <a class="dropD-links-sub" href="#Angebot3">PRP </a>
                                <span class="arrow">&#8250;</span>
                            </div>
                            <ul class="dropdown-menu-sub">
                                <li><a class="dropD-links-sub close-menu" href="#Unterangebot1">Haarbehandlung</a></li>
                                <li><a class="dropD-links-sub close-menu" href="#Unterangebot2">HautBehandlung</a></li>
                            </ul>
                        </li>
                        <li><a href="#" class="dropD-links close-menu" data-modal="hydrafacial-modal">HydraFacial</a></li>
                        <li><a class="dropD-links close-menu" href="#Angebot2">Diodenlaser</a></li>
                        <li><a class="dropD-links close-menu" href="#Angebot2">BB-Glow</a></li>
                        <li><a class="dropD-links close-menu" href="#Angebot2">Gesichtsbehandlung</a></li>
                        
                        <li><a class="dropD-links close-menu" href="#Angebot2">Hautbehandlung</a></li>
                        <li><a class="dropD-links close-menu" href="#Angebot2">Microneedling</a></li>
                        
                    </ul>   
        </li>
        <li class="nav-item">
            <a class="nav-links" href="/preise.html">Preise</a>
        </li>
        <li class="nav-item dropdown">
                <a class="nav-links" href="#Angebote">Infos</a>
                <ul class="dropdown-menu">
                    <li><a class="dropD-link close-menu" href="#Angebot1">Verspätungen</a></li>
                    <li><a class="dropD-links " href="#Angebot2">Stornobedingungen</a></li>
                    
                </ul>
            </li>
        
        </ul>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>



</nav>


    </header>

<script src="/Hamburger-mennu.js"> </script>
</body>
</html>